<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>440453052528-j7tviacein805tjfhv7g522r3v1s6e3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440453052528-j7tviacein805tjfhv7g522r3v1s6e3d</string>
	<key>API_KEY</key>
	<string>AIzaSyDl4LrssD-6yM5I3mILzklDrxFMmQMkM9c</string>
	<key>GCM_SENDER_ID</key>
	<string>440453052528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.love2Code.FoodLoversAPp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-75d3e</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-75d3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:440453052528:ios:57ad67e3c2d3f87a</string>
	<key>DATABASE_URL</key>
	<string>https://foodapp-75d3e.firebaseio.com/</string>
</dict>
</plist>
